html {
    -webkit-font-smoothing: antialiased;
    text-shadow: none;
    text-rendering: optimizeLegibility;
    height: 100%;
}
body {
    height: 100%;
    background-color: #CFDAE6;
}
a {
    color: inherit;
    text-decoration: inherit !important
}

@media (min-width:1200px) {
    .container.small {
        width: 930px;
    }
}
@media (min-width:992px) {
    .container.small {
        width: 830px;
    }
}

.btn, .btn:hover {
    transition: all 100ms;
}
.row {
    margin-bottom: 10px;
}
.well {
    padding: 16px;
    margin-bottom: 0;
    border-radius: 2px;
    background-color: #EFEFEF
}
.panel {
    margin-bottom: 0px;
}
.row .panel .panel-heading {
    text-align: center;
    background-color: #375a7f;
    color: #fff;
    font-size: 18px
}
.row .panel .panel-heading a:hover, .row .panel .panel-heading a:active, .row .panel .panel-heading a:focus {
    color: inherit
}
.row .panel ul li {
    transition: background .3s;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.row .panel ul li:hover {
    transition: background .3s;
    background-color: #eee
}
.row .panel ul li span {
    float: right
}
.row h1 {
    margin: 0 0 15px;
    font-size: 22px;
    text-align: center
}
.row h1 small {
    font-size: 75%;
    color: inherit
}

.list-group-item.achievement {
    cursor: default !important;
}

.well.production {
    padding-bottom: 0;
}
.production.well.container h1 {
    font-size: 22px;
}
.production.well.container h2 {
    font-size: 18px;
}

.gangs.production {
    padding-bottom: 0;
}
.gangs.container h1 {
    font-size: 22px;
}
.gangs.container h2 {
    font-size: 18px;
}

.notes h1 {
    font-size: 28px;
    margin: 15px 0;
}
.notes h2 {
    font-size: 18px;
    margin: 8px 0;
}

.help h1 {
    font-size: 28px;
    margin: 15px 0;
}
.help h2 {
    font-size: 18px;
    margin: 8px 0;
}
.help h2 ul li {
    font-size: 16px;
    margin: 8px 0;
}

.statistics {
    padding-top: 0;
    padding-bottom: 0;
}
.statistics p {
    margin-right: 5px;
    font-size: 18px;
}

.well.research {
    padding-bottom: 0;
}
.research.alert h1 {
    margin: 4px 0 0 0;
    font-size: 14px;
}
.research.well.container h1 {
    margin: 15px 0 15px 0;
    font-size: 22px;
}
.research.well.container h1 br {
    content: " ";
    display: block;
    margin: 5px 0
}
.research.well.container h2 {
    font-size: 18px;
}
.research.well.container h3 {
    font-size: 16px;
}
.research-bought.list-group-item {
    background-color: rgba(22, 160, 133, 0.25);
}
.research-bought.list-group-item:hover, .research-bought.list-group-item:active, .research-bought.list-group-item:focus {
    background-color: rgba(22, 160, 133, 0.35) !important;
}

.well.actions {
    padding-bottom: 0;
}
.action-content {
    margin: 0 0 15px 0;
    width: 100%;
    text-align: center
}
.action-content h1 {
    margin: 0 0 6px;
    font-size: 20px
}
.action-content h2 {
    margin: 0 0 6px;
    font-size: 16px
}
.action-content h2 span {
    font-size: 14px;
}
.action-content h3 {
    margin: 0;
    font-size: 14px;
    line-height: 25px
}
.action-content .row {
    margin: 0 -15px 10px
}

.prestige.well {
    margin-bottom: 0;
}
.prestige.well.container h1 {
    margin: 15px 0 15px 0;
    font-size: 22px;
}
.prestige.well.container h2 {
    font-size: 18px;
}
.prestige.well.container h3 {
    font-size: 16px;
}

.gang-stats {
    float: left;
}

.really {
    cursor: default;
}
.really:hover, .really:active, .really:focus {
    border-color: #e74c3c;
    background-color: #e74c3c;
}
