.progress {
    height: 14px;
    background-color: #D7D8D8
}
.progress.mid-bar {
    width: 70%
}
.progress.middle {
    margin: 0 auto 5px;
}
.progress-bar {
    -webkit-transition: none;
    transition: none;
    -o-transition: none;
    -moz-transition: none
}
.progress span {
    line-height: 14px;
    font-size: 12px
}
