<div class="container well achievements">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#achievements-actions">Actions achievements</a>
                </div>
                <ul id="achievements-actions" class="list-group collapse in">
                    <li id="achievements-actions-1" class="list-group-item achievement"></li>
                    <li id="achievements-actions-2" class="list-group-item achievement"></li>
                    <li id="achievements-actions-3" class="list-group-item achievement"></li>
                    <li id="achievements-actions-4" class="list-group-item achievement"></li>
                    <li id="achievements-actions-5" class="list-group-item achievement"></li>
                    <li id="achievements-actions-6" class="list-group-item achievement"></li>
                    <li id="achievements-actions-7" class="list-group-item achievement"></li>
                    <li id="achievements-actions-8" class="list-group-item achievement"></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#achievements-actions">Production achievements</a>
                </div>
                <ul id="achievements-actions" class="list-group collapse in">
                    <li class="list-group-item achievement"><b>Soon!</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
