<div class="container well achievements">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#achievements-actions">Actions achievements</a>
                </div>
                <ul id="achievements-actions" class="list-group collapse in"></ul>
            </div>
        </div>

        <!--
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#achievements-actions">Production achievements</a>
                </div>
                <ul id="achievements-actions" class="list-group collapse in">
                    <li class="list-group-item achievement"><b>Soon!</b></li>
                </ul>
            </div>
        </div>
    -->
    </div>
</div>
