<div class="container well actions">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-6 col-sm-6 col-md-4" ng-repeat="action in actions.action">
                <div class="action-content">
                    <h1 id="action-name-{{$index+1}}"></h1>
                    <h2 id="action-info-{{$index+1}}"></h2>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
                            <a id="action-upgrade-{{$index+1}}" class="btn btn-primary btn-xs center-block">Upgrade</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <h3 id="action-cost-{{$index+1}}"></h3>
                        </div>
                    </div>
                    <div class="progress progress-striped active mid-bar middle">
                        <div id="action-progress-{{$index+1}}" class="progress-bar progress-bar-success">
                            <span id="action-progress-{{$index+1}}-info"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a id="action-quickbuy-button" class="btn btn-success btn-xs center-block" onclick="game.research.quickbuy(0);" data-toggle="tooltip" title="Quick buy allows you to quickly buy the cheapest upgrade from the research-center."></a>
        </div>

        <div class="col-xs-2 col-xs-offset-6 col-sm-2 col-sm-offset-6 col-md-2 col-md-offset-6">
            <a id="action-buy-button" class="btn btn-info btn-xs center-block" onclick="game.actions.multiplier();"></a>
            <input type="range" name="buySlider" id="buySlider" class="slider ng-pristine ng-untouched ng-valid ng-not-empty" step="1" min="1" max="500">
        </div>
    </div>
</div>
<script>
$("#buySlider").on("input change", function() {
	game.actions.multiplierN(this.value);
});
</script>