<div class="container well collections">
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" data-target="#collection-actions" aria-expanded="true">
                        <a>'Guns' category <i class="fa fa-caret-down"></i></a>
                    </div>

                    <ul id="collection-actions" class="list-group collapse in collections-list" aria-expanded="true">
                        <table id="collection-actions-table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tier</th>
                                    <th>Name</th>
                                    <th>Desc.</th>
                                    <th>Activ*</th>
                                </tr>
                            </thead>
                            <tbody id="collection-actions-tbody"></tbody>
                        </table>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" data-target="#collection-production" aria-expanded="true">
                        <a>'Dealer stuff' category <i class="fa fa-caret-down"></i></a>
                    </div>

                    <ul id="collection-production" class="list-group collapse in collections-list" aria-expanded="true">
                        <table id="collection-production-table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tier</th>
                                    <th>Name</th>
                                    <th>Desc.</th>
                                    <th>Activ*</th>
                                </tr>
                            </thead>
                            <tbody id="collection-production-tbody"></tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">* Items get active after reset</div>
</div>
