<div class="container well small collections">
    <div class="research row">
    	<div class="col-md-12">
    		<a id="generate-items" class="btn btn-primary btn-xs center-block" onclick="game.collections.generateTestTenItems();">Generate 10 items</a>
    	</div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#generated-items" aria-expanded="true">Generated Collection Items</a>
                </div>
                <ul id="generated-items" class="list-group collapse in collections-list" aria-expanded="true"></ul>
            </div>
        </div>
    </div>
</div>
