<div class="container small well help">
    <h1 class="text-center">Need help?</h1>
    <h2 class="text-justify"><b>Please note</b> that the game is made to be run on small screens (like tablets) and medium/big screens (like computers) but not on <b>your phone!</b></h2>

    <h2><b>Actions :</b>
        <br>
        <ul>
            <li>Level-up your actions to earn more dollars.</li>
            <li>Unlock new actions, they will earn a massive amount of dollars!</li>
            <li>Earn reputation points and level-up!</li>
            <li>Upgrade your actions via the <b>"Research center"</b> tab to earn more and more dollars! <i>(accessible on the menu)</i>.</li>
        </ul>
    </h2>

    <h2><b>Prestige :</b>
        <ul>
            <li>With the prestige system, you restart everything from zero, but you earn experience.<br>
                Please note : this is called a <i>soft-reset</i>.</li>
        </ul>
    </h2>

    <h2><b>Collections :</b>
        <ul>
            <li>Collections are items you keep even when you prestige (<i>soft-reset</i>).</li>
            <li>There are a lot of different collections, each one give you random bonus on a specific thing.</li>
            <li>Each collections is different, they all give different bonus type.</li>
            <li>You can find items on collection by earning achievements and buying upgrades at the research-center.</li>
        </ul>
    </h2>

    <h2><b>Achievements :</b>
        <ul>
            <li>Earn achievements, they give you awesome boosts!</li>
            <li>Try to find items for your collections.</li>
            <li>The game is finished when you earn all the achievements.</li>
        </ul>
    </h2>
</div>
