<div class="container small well help" ng-init="init();">
    <h1 class="text-center">Need help?</h1>
    <h2 class="text-justify">Blackmarket-Reloaded is called an <b>incremental-game</b>, it's a game with text without graphics. For some people, it's hard to call this a game.</h2>

    <h2><b>Actions :</b><br>
        <ul>
            <li>Level-up your actions to earn more dollars.</li>
            <li>Unlock new actions, they will earn a massive amount of dollars.</li>
            <li>Upgrade your actions via the "Upgrades" tab (accessible on the menu).</li>
        </ul>
    </h2>

    <h2><b>Production :</b>
        <ul>
            <li>First, to use the production system you need to invest on it.</li>
            <li>Sell drugs : weed, meth, cocaine.</li>
            <li>Buy builds to produce a certain amount of the drug wanted and hire dealers to sell it.</li>
            <li>Upgrade your drug price/g on the "Upgrades" tab.</li>
        </ul>
    </h2>

    <h2><b>Gangs :</b>
        <ul>
            <li>TBD</li>
        </ul>
    </h2>

    <h2><b>Prestige :</b>
        <ul>
            <li>With the prestige system, you restart everything from zero, but you earn experience.</li>
            <li>Your experience determine your rank, which will determine your <b>rank multiplier</b></li>
            <li>Rank multiplier acts as a global income multiplier, it multiplies every income you can have in the game.</li>
        </ul>
    </h2>
</div>
