<div class="container small well help">
    <h1 class="text-center">Need help?</h1>
    <h2 class="text-justify">Blackmarket-Reloaded is called an <b>incremental-game</b>. This game is totally text-based and doesn't have any graphics.</h2>
    <h2 class="text-justify"><b>Please note</b> that the game is currently made to be run on small screens (like tablets) and medium/big screens (like computers) but not on <b>your phone!</b></h2>

    <h2><b>Actions :</b>
        <br>
        <ul>
            <li>Level-up your actions to earn more dollars.</li>
            <li>Unlock new actions, they will earn a massive amount of dollars!</li>
            <li>Earn reputation points and level-up!</li>
            <li>Upgrade your actions via the <b>"Research center"</b> tab to earn more and more dollars! <i>(accessible on the menu)</i>.</li>
        </ul>
    </h2>

    <h2><b>Production :</b>
        <ul>
            <li>TBD</li>
        </ul>
    </h2>

    <h2><b>Gangs :</b>
        <ul>
            <li>TBD</li>
        </ul>
    </h2>

    <h2><b>Prestige :</b>
        <ul>
            <li>With the prestige system, you restart everything from zero, but you earn experience.</li>
            <li>Your experience determine your rank, which will determine your <b>rank multiplier</b>.</li>
            <li>Rank multiplier acts as a global income multiplier, it multiplies <b>every income</b> you can have in the game!</li>
        </ul>
    </h2>

    <h2><b>Achievements :</b>
        <ul>
            <li>Earn achievements, they give you awesome boosts!</li>
            <li>The game is finished when you reach all the achievements.</li>
        </ul>
    </h2>
</div>
