<div class="container small well kong" ng-init="init()">
    <div id="kong-speech" style="display: block;">
        <h1 id="kong-speech-1" class="text-center">
            It seems like you are currently playing on another version than on Kongregate.<br>
            We recommend to you to play on Kongregate to get all the recent updates.
        </h1>
        <h2 id="kong-speech-2" class="text-center">
            Warning: you can't import saves from official website to Kongregate, and vice versa.
        </h2>
    </div>

    <div id="kong-player" style="display: none;">
        <h1 id="kong-player-h1" class="text-center"></h1>
        <h2 id="kong-player-h2" class="text-center"></h2>
    </div>
</div>
