<div class="container small well notes" ng-init="init()">
    <h1 class="text-center">Patch-notes :</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#prototype-versions" aria-expanded="false" href="javascript:">
                      Prototype versions <i class="fa fa-caret-down"></i>
                  </a>
                </div>
                <ul id="prototype-versions" class="list-group collapse" aria-expanded="false">
                    <li class="list-group-item">
                        <h2>v0.001 : first playable prototype.</h2>
                        <ul>
                            <li>Actions :</li>
                            <ul>
                                <li>Added 6 actions : shooting, street fight, pickpocket, bank robbery, steal car, jewelry robbery.</li>
                                <li>Actions can be upgraded.</li>
                            </ul>

                            <li>Production :</li>
                            <ul>
                                <li>Added 3 drugs : weed, meth, cocaine.</li>
                                <li>Added production and selling builds to produce or sell each drugs.</li>
                                <li><b>WARNING : expect some bugs about drugs selling.</b></li>
                            </ul>

                            <li>Upgrades :</li>
                            <ul>
                                <li>Added a lot of upgrades.</li>
                                <li>Actually, upgrades affect actions & production (drugs prices).</li>
                            </ul>

                            <li>Prestige :</li>
                            <ul>
                                <li>Added experience : the amount of experience depends of the amount of total money (of the session).</li>
                                <li>Added ranks : they give a reward multiplier to all incomes.</li>
                            </ul>

                            <li>Achievements :</li>
                            <ul>
                                <li>Added achievements : for actions and production.</li>
                                <li>Achievements give a boost : time or reward boost.</li>
                            </ul>

                            <li>Options :</li>
                            <ul>
                                <li>Game save (auto-save every minute).</li>
                                <li>Offline progress : progress without being online.</li>
                            </ul>

                            <li>Kongregate :</li>
                            <ul>
                                <li>Added Kongregate support if you are playing on Kongregate version and are logged-in with an account.</li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
