<div class="container small well options">
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <a class="btn btn-primary btn-block">Save-game</a>
        </div>
        <div class="col-md-4 col-xs-4">
            <a class="btn btn-success btn-block">Load-game</a>
        </div>
        <div class="col-md-4 col-xs-4">
            <a class="btn btn-danger btn-block">Hard-reset</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
            <a class="btn btn-info btn-block" onclick="game.togglePause();">Toggle pause</a>
        </div>
    </div>
</div>
