<div class="container small well options">
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <a class="btn btn-primary btn-block" onclick="game.save.save('user');">Save-game</a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a class="btn btn-success btn-block" onclick="game.save.load();">Load-game</a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a id="options-reset" class="btn btn-danger btn-block" onclick="game.save.reset();">Hard-reset</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-info btn-block" onclick="game.togglePause();">Toggle pause</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-info btn-block" onclick="notify.toggle();">Toggle notifications</a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <a id="options-yes" class="btn btn-warning btn-block" onclick="game.save.reset(true, false);" style="display: none;">Yes</a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <a id="options-no" class="btn btn-warning btn-block" onclick="game.save.reset(false, true);" style="display: none;">No</a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-4 col-md-offset-4">
            <a class="btn btn-info btn-block">Change menu type</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-md-2 col-md-offset-4">
            <a id="options-sidebar" class="btn btn-warning btn-block" onclick="game.menuSwitch('sidebar');">Sidebar</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <a id="options-navbar" class="btn btn-warning btn-block" onclick="game.menuSwitch('navbar');">Navbar</a>
        </div>
    </div>
    
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12">
    		<strong>If the game laggs, you can change how fast the game should run (this only effects how often the display is updated)</strong><br />
        	<input type="range" name="fpsSlider" id="fpsSlider" class="slider ng-pristine ng-untouched ng-valid ng-not-empty" step="1" min="1" max="60">
        	Game runs with: <span id="choosedFPS"></span> FPS 
        </div>
    </div>

    <br>

    <div class="row">
        <h1 class="text-center">Game auto-saves every 5 minutes.</h1>
    </div>
</div>
