<div class="container well production">
    <div class="row">
        <div class="col-md-4">
            <h1 id="weed-stock"></h1>
        </div>
        <div class="col-md-4">
            <h1 id="meth-stock"></h1>
        </div>
        <div class="col-md-4">
            <h1 id="cocaine-stock"></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#production-weed-builds">Weed production</a>
                </div>
                <ul id="production-weed-builds" class="list-group collapse in">
                    <li id="production-weed-1" class="list-group-item"></li>
                    <li id="production-weed-2" class="list-group-item"></li>
                    <li id="production-weed-3" class="list-group-item"></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#production-meth-builds">Meth production</a>
                </div>
                <ul id="production-meth-builds" class="list-group collapse in">
                    <li id="production-meth-1" class="list-group-item"></li>
                    <li id="production-meth-2" class="list-group-item"></li>
                    <li id="production-meth-3" class="list-group-item"></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#production-cocaine-builds">Cocaine production</a>
                </div>
                <ul id="production-cocaine-builds" class="list-group collapse in">
                    <li id="production-cocaine-1" class="list-group-item"></li>
                    <li id="production-cocaine-2" class="list-group-item"></li>
                    <li id="production-cocaine-3" class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#production-weed-dealers">Weed selling</a>
                </div>
                <ul id="production-weed-dealers" class="list-group collapse in">
                    <li id="selling-weed-1" class="list-group-item"></li>
                    <li id="selling-weed-2" class="list-group-item"></li>
                    <li id="selling-weed-3" class="list-group-item"></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#production-meth-dealers">Meth selling</a>
                </div>
                <ul id="production-meth-dealers" class="list-group collapse in">
                    <li id="selling-meth-1" class="list-group-item"></li>
                    <li id="selling-meth-2" class="list-group-item"></li>
                    <li id="selling-meth-3" class="list-group-item"></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#production-cocaine-dealers">Cocaine selling</a>
                </div>
                <ul id="production-cocaine-dealers" class="list-group collapse in">
                    <li id="selling-cocaine-1" class="list-group-item"></li>
                    <li id="selling-cocaine-2" class="list-group-item"></li>
                    <li id="selling-cocaine-3" class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
