<div class="container well" ng-init="init()">
    <div class="production row">
        <div class="col-md-4">
            <h1>Weed: 0.00g (0.00g/s)<br><small>(+0.5g/s ; -0.5g/s)</small></h1>
        </div>
        <div class="col-md-4">
            <h1>Meth: 0.00g (0.00g/s)<br><small>(+0.5g/s ; -0.5g/s)</small></h1>
        </div>
        <div class="col-md-4">
            <h1>Cocaine: 0.00g (0.00g/s)<br><small>(+0.5g/s ; -0.5g/s)</small></h1>
        </div>
    </div>

    <div class="production row">
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#production-weed-builds" href="javascript:">
                      Weed production <i class="fa fa-caret-down"></i>
                  </a>
              </div>
              <ul id="production-weed-builds" class="list-group collapse">
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
              </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#production-meth-builds" href="javascript:">
                      Meth production <i class="fa fa-caret-down"></i>
                  </a>
              </div>
              <ul id="production-meth-builds" class="list-group collapse">
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
              </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#production-cocaine-builds" href="javascript:">
                      Cocaine production <i class="fa fa-caret-down"></i>
                  </a>
              </div>
              <ul id="production-cocaine-builds" class="list-group collapse">
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
              </ul>
            </div>
        </div>
    </div>

    <div class="production row">
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#production-weed-dealers" href="javascript:">
                      Weed selling <i class="fa fa-caret-down"></i>
                  </a>
              </div>
              <ul id="production-weed-dealers" class="list-group collapse">
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
              </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#production-meth-dealers" href="javascript:">
                      Meth selling <i class="fa fa-caret-down"></i>
                  </a>
              </div>
              <ul id="production-meth-dealers" class="list-group collapse">
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
              </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#production-cocaine-dealers" href="javascript:">
                      Cocaine selling <i class="fa fa-caret-down"></i>
                  </a>
              </div>
              <ul id="production-cocaine-dealers" class="list-group collapse">
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
                <li class="list-group-item">Weed build #1 <span>0 owned</span><br>+0.15g/sec <span>$10.00</span></li>
              </ul>
            </div>
        </div>
    </div>
</div>
