<div class="container well research">
    <div class="research row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#research-actions" aria-expanded="true">Actions research-upgrades</a>
                </div>
                <ul id="research-actions" class="list-group collapse in research-list" aria-expanded="true"></ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#research-production" aria-expanded="true">Production research-upgrades</a>
                </div>
                <ul id="research-production" class="list-group collapse in research-list" aria-expanded="true">
                    <li class="list-group-item">
                        <b class="text-center">Soon!</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
