<div class="container small well statistics">
    <div class="row">
        <div class="table-responsive table-statistics">
            <table id="stats-player" class="table table-striped table-hover">
                <thead>
                    <tr class="active">
                        <th>&nbsp;</th>
                        <th>Actual</th>
                        <th>This run</th>
                        <th>All time</th>
                    </tr>
                </thead>

                <tbody>
                    <tr id="stats-money">
                        <th>Money :</th>
                        <td id="stats-money-atm"></td>
                        <td id="stats-money-run"></td>
                        <td id="stats-money-all"></td>
                    </tr>

                    <tr id="stats-rep">
                        <th>Reputation :</th>
                        <td id="stats-rep-atm"></td>
                        <td id="stats-rep-run"></td>
                        <td id="stats-rep-all"></td>
                    </tr>

                    <tr id="stats-money-mult">
                        <th>Total actions money multiplier :</th>
                        <td colspan="3" id="stats-money-mult-atm"></td>
                    </tr>

                    <tr id="stats-time-mult">
                        <th>Total actions time multiplier :</th>
                        <td colspan="3" id="stats-time-mult-atm"></td>
                    </tr>

                    <tr id="stats-rep-mult">
                        <th>Total actions reputation multiplier :</th>
                        <td colspan="3" id="stats-rep-mult-atm"></td>
                    </tr>

                    <tr id="stats-rep-mult">
                        <th>Total production money multiplier :</th>
                        <td colspan="3" id="stats-prod-money-mult-atm"></td>
                    </tr>

                    <tr id="stats-reset-count">
                        <th>Count soft reset :</th>
                        <td colspan="3" id="stats-reset-count-atm"></td>
                    </tr>

                </tbody>
            </table>

            <table id="stats-actions" class="table table-striped table-hover">
                <thead>
                    <tr class="active">
                        <th>Action</th>
                        <th>Level</th>
                        <th>Time Multi</th>
                        <th>Reward Multi</th>
                        <th>Reward</th>
                        <th>$/sec</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>

            <p class="text-right">
                <span id="stats-started"></span>
            </p>
        </div>
    </div>
</div>
